# Виртуальное окружение
venv/
env/
ENV/
.env

# Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
db_old.sqlite3

media_volume/