{% extends 'base.html' %}
{% load static %}

{% block title %}Словарь{% endblock %}

{% block content %}
<div id="dictionary-screen" class="screen active">

    {% include 'headder.html' %}

    <div class="dictionary-container">
        <!-- Поиск -->
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Поиск слов...">
        </div>

        <!-- Категории -->
        <div class="categories">
            <button class="category-btn active">Все</button>
            <button class="category-btn">Изучаемые</button>
            <button class="category-btn">Выученные</button>
        </div>

        <!-- Содержимое словаря -->
        <div class="dictionary-content">
            <!-- Список слов -->
            <div class="word-list-container">
                <h2 class="word-list-title">Слова</h2>
                {% for word in words %}
                <div class="dictionary-word-item word-item {% if forloop.first %}active{% endif %}"
                    data-word-id="{{ word.id }}">
                    <div class="word-info">
                        <span class="word-chinese">{{ word.translation_cn }}</span>
                        <span class="word-translation">{{ word.word }}</span>
                        <span class="word-pinyin">{{ word.transcription }}</span>
                    </div>
                    <div class="word-status learning"></div>
                </div>
                {% endfor %}
            </div>

            <!-- Детали слова -->
            <div id="word-details-modal" class="word-details">
                <button class="close-word-details" onclick="closeWordDetails()">&times;</button>
                <div class="detail-chinese" id="detail-chinese"></div>
                <div class="detail-pinyin" id="detail-pinyin">
                    <span id="detail-transcription"></span>
                    <!-- <button class="audio-btn" data-audio-url="{{ word.audio_url }}" onclick="playAudio(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polygon points="5 3 19 12 5 21 5 3"></polygon>
                        </svg>
                    </button> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polygon points="5 3 19 12 5 21 5 3"></polygon>
                    </svg>
                </div>
                <div class="detail-translation" id="detail-translation"></div>

                <!-- Примеры использования -->
                <div class="examples" id="detail-examples"></div>
            </div>
        </div>
    </div>
</div>

{% include 'translate-modal.html' %}
{% include 'camera-modal.html' %}

{% endblock %}