{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>
    <h2 class="title">Главный</h2>
    <h1>Сегодня учим?</h1>
    <div>
        <h2>Вызов дня</h2>
        <ul>
            <li>桌子 - стол</li>
            <li>沙发 - диван</li>
            <li>手包 - сумка</li>
        </ul>
    </div>
    <h2>Начать</h2>
    <div>
        <h2>Главная</h2>
        <h2>Словарь</h2>
        <h2>Уровни</h2>
        <h2>Профиль</h2>
    </div>
</body>